.DS_Store
/DisplayCAL/__version__.py
/build/
/dist/
/venv/
/INSTALLED_FILES
/MANIFEST.in
/VERSION
__pycache__/
/.pytest_cache/
/tests/data/icc/Monitor 1 #1 2022-03-09 16-13 D6500 2.2 F-S XYZLUT+MTX.B2A1.post.CLUT.png
/tests/data/icc/Monitor 1 #1 2022-03-09 16-13 D6500 2.2 F-S XYZLUT+MTX.B2A1.post.CLUT.smooth.png
/DisplayCAL.egg-info/top_level.txt
/DisplayCAL.egg-info/requires.txt
/DisplayCAL.egg-info/SOURCES.txt
/DisplayCAL.egg-info/PKG-INFO
/DisplayCAL.egg-info/dependency_links.txt
*.blend1
/.coverage
/DisplayCAL/ref/*.log
/DisplayCAL/lib64/python38/*.so
/DisplayCAL/lib64/python39/*.so
/DisplayCAL/lib64/python310/*.so
/DisplayCAL/lib64/RealDisplaySizeMM.cpython-310-darwin.so
