altgraph
attrs
black
casttube
charset-normalizer
click
colorama
coverage
cycler
darglint
flake8
flake8-bugbear
flake8-docstrings
flake8-import-order
flake8-mutable
flake8-pep3101
flake8-spellcheck
fonttools
idna
ifaddr
iniconfig
kiwisolver
macholib
matplotlib
modulegraph
mypy-extensions
packaging
pathspec
platformdirs
pluggy
ppdir
protobuf
py2app
pycodestyle
pydocstyle
pyflakes
pyglet
pyparsing
pytest
pytest-cov
pytest-github-actions-annotate-failures
pytest-xdist
python-dateutil
requests
six
snowballstemmer
tomli
typing-extensions
urllib3
